<div class="row row-centered">
  <div id="clearance" class="sign-up well col-med-3 col-centered">
    <h2><%= t(".title") %></h2>

    <%= form_for @user do |form| %>
      <%= render partial: '/users/form', object: form %>

      <div class="input-group">
        <%= form.submit %>
      </div>

      <div class="other-links">
        <%= link_to t(".sign_in"), sign_in_path %>
      </div>
    <% end %>
  </div>
</div>
