<div class="row row-centered">
  <%= form_for @document, url: documents_path, html: { multipart: true, class: 'form-horizontal' } do |form| %>

      <h1>Upload Document</h1>

      <div class="form-group">
        <%= form.label :name, class: 'col-md-4 control-label' %>
        <div class="col-md-4">
        <%= form.text_field :name, class: 'form-control input-md', required: '' %>
        </div>
      </div>

      <div class="form-group">
        <%= form.label :description, class: 'col-md-4 control-label' %>
        <div class="col-md-4">
          <%= form.text_area :description, class: 'form-control', required: '' %>
        </div>
      </div>

      <div class="form-group">
        <%= form.label :tag_list, text: 'Tags', class: 'col-md-4 control-label' %>
            <div class="col-md-4">
              <%= form.text_field :tag_list, class: 'form-control input-md', placeholder: 'technology, linux, ruby on rails', required: '' %>
                  <span class="help-block">Tags must be separated by commas</span>  
                    </div>
      </div>

      <div class="form-group">
        <%= form.label :public, text: 'Privacy Setting', class: 'col-md-4 control-label' %>
            <div class="col-md-4">
              <%= form.select :public, options_for_select([['Public (everyone can view)', 1], ['Private (only you can view)', 0]]), {}, class: 'form-control' %>
                                      </div>
      </div>

      <div class="form-group">
          <label class="col-md-4 control-label" for="document"></label>
            <div class="col-md-4">
              <%= form.file_field :document, class: 'input-file' %>
                    </div>
      </div>

      <div class="form-group">
          <label class="col-md-4 control-label" for="upload"></label>
            <div class="col-md-4">
              <%= form.submit 'Upload Document', class: 'btn btn-success', id: 'upload' %>
                    </div>
      </div>

  <% end %>
</div>
