<nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <%= link_to 'DOCD', root_path, class: 'navbar-brand' %>
      <!-- search -->
    </div>
    <% if signed_in? %>
      <div id="navbar" class="navbar-collapse collapse">
        <%= link_to 'UPLOAD', '#', class: 'navbar-right' %>
        <%= link_to 'LIBRARY', '#', class: 'navbar-right' %>
        <%= link_to current_user.email, '#', class: 'navbar-right' %>
        <%= link_to 'SIGN OUT', sign_out_path, class: 'navbar-right', method: :delete %>
      </div>
    <% else %>
      <div id="navbar" class="navbar-collapse collapse">
        <%= link_to 'SIGN IN', sign_in_path, class: 'navbar-right' %>
      </div>
    <% end %>
  </div>
</nav>
