<nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <%= link_to 'Docd', root_path, class: 'navbar-brand' %>
      <!-- search -->
    </div>
    <div id="navbar" class="navbar-collapse collapse">
      <ul class="nav navbar-nav navbar-right">
      <% if signed_in? %>
        <li><%= link_to 'Upload', new_document_path %></li>
        <li><%= link_to 'Library', library_path %></li>
        <li><%= link_to current_user.email, '#' %></li>
        <li><%= button_to(sign_out_path, form_class: 'btn btn-default navbar-right', method: :delete) do %>
            Sign out
          <% end %></li>
      <% else %>
        <li><%= button_to(sign_in_path, form_class: 'navbar-form navbar-right', class: 'btn btn-default', method: :get) do %>
            Sign in
          <% end %></li>
      <% end %>
    </div>
  </div>
</nav>
